SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=
SCOPES=read_products,read_product_listings,read_collection_listings,read_inventory
DATABASE_URL="postgresql://postgres:password@127.0.0.1:5432/anotherdev_search?schema=public"
SEMANTIC_SEARCH_ENABLED=false
